{:path ["src"]
 :deps {
        cheshire/cheshire {:mvn/version "5.13.0"}
        com.taoensso/timbre {:mvn/version "6.6.1"}
        com.cognitect.aws/api              {:mvn/version "0.8.711"}
        com.cognitect.aws/endpoints        {:mvn/version "871.2.29.35"}
        com.cognitect.aws/bedrock-runtime  {:mvn/version "871.2.29.35"}}}
        
        
